{% extends "auth_emails/lexnova/base.html" %}

{% block subject %}LexNova - password actualizado{% endblock subject %}
{% block text_body %}Hola{% if user %} {{ user.email }}{% endif %}.

Tu password fue actualizado.
Revisa seguridad:
{{ action_url }}{% endblock text_body %}
{% block headline %}Password actualizado{% endblock headline %}
{% block intro %}Tu password de LexNova fue actualizado correctamente.{% endblock intro %}
{% block detail %}Se revocan accesos activos para proteger informacion sensible de tu cuenta.{% endblock detail %}
{% block cta %}Revisar seguridad{% endblock cta %}
