{% extends "auth_emails/base/base.html" %}
{% block subject %}{{ commercial_name }} - cuenta creada{% endblock subject %}
{% block text_body %}Hola{% if user %} {{ user.email }}{% endif %}.

Tu cuenta fue creada en {{ commercial_name }}.
Continua aqui:
{{ action_url }}{% endblock text_body %}
{% block headline %}Cuenta creada correctamente{% endblock headline %}
{% block intro %}Tu acceso a {{ commercial_name }} fue registrado correctamente.{% endblock intro %}
{% block detail %}Puedes continuar con la configuracion de tu cuenta de forma segura.{% endblock detail %}
{% block cta %}Ir a mi cuenta{% endblock cta %}
