{% extends "auth_emails/tecnotelec/base.html" %}

{% block subject %}Tecno Telec - password actualizado{% endblock subject %}
{% block text_body %}Hola{% if user %} {{ user.email }}{% endif %}.

Tu password fue actualizado.
Revisa tu seguridad aqui:
{{ action_url }}{% endblock text_body %}
{% block headline %}Password actualizado{% endblock headline %}
{% block intro %}Tu password de Tecno Telec fue actualizado correctamente.{% endblock intro %}
{% block detail %}Cerramos sesiones y tokens activos para mantener tu cuenta protegida.{% endblock detail %}
{% block cta %}Revisar seguridad{% endblock cta %}
