{% extends "auth_emails/jobcron/base.html" %}

{% block subject %}JobCron - password actualizado{% endblock subject %}
{% block text_body %}Hola{% if user %} {{ user.email }}{% endif %}.

Tu password fue actualizado.
Revisa tu seguridad aqui:
{{ action_url }}{% endblock text_body %}
{% block headline %}Password actualizado{% endblock headline %}
{% block intro %}Tu password de JobCron fue actualizado correctamente.{% endblock intro %}
{% block detail %}Cerramos sesiones y tokens activos para mantener tu cuenta protegida.{% endblock detail %}
{% block cta %}Revisar seguridad{% endblock cta %}
